* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    background: #b6cada;
    color: #263d50;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

b {
    font-weight: 700;
}

input {
    width: 100%;
    padding: 10px;
    border: 0;
    font-family: inherit;
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 30, 30, .6)
}

select {
    width: 100%;
    height: 37px;
    padding: 10px;
    border: 0;
    font-family: inherit;
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 30, 30, .6)
}

.head h1 {
    text-align: center;
    font-size: 200%;
    font-size: 72px;
    margin: 0 0 .5em 0
}

p {
    margin: .25em;
}

table {
    width: 100%;
}

#search {
    background: white;
    padding: .5em 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 30, 30, .6);
    color: inherit;
    font: inherit;
    cursor: pointer;
}


.search {
    background: white;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 30, 30, .6);
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.search p {
    font-size: 125%;
}

.search>div {
    width: 80%;
    max-width: 250px;
}

.advanced-search {
    display: grid;
    margin: 1em 0;
    grid-template-columns: 6fr 2fr;
}

.filter {
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 30, 30, .6);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.content>div {
    background: white;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 30, 30, .6);

    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-items: center;
    align-items: top;
}


.content h1 {
    margin-top: 0;
}

.content>div>div {
    width: 100%;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text>div:first-of-type {
    font-size: 2em;
    padding: 0 .5em;
}

.icon-text>div:last-of-type{
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.from-to {
    font-size: 110%;
}

.price {
    font-size: 125%;
}
